<mat-spinner
  *ngIf="isLoading"
  class="main-spinner"
  [diameter]="50"
></mat-spinner>
<div class="main-translator-form" *ngIf="!isLoading">
  <h1>Translator</h1>
  <form [formGroup]="formGroupBasic" (ngSubmit)="onFormSubmit()">
    <div class="translate-items">
      <div class="translate-item">
        <h2>Translate From</h2>
        <mat-form-field appearance="fill">
          <mat-label>Write text to translate</mat-label>
          <textarea
            matInput
            #text
            formControlName="text"
            cdkTextareaAutosize
            cdkAutosizeMinRows="5"
            cdkAutosizeMaxRows="12"
          ></textarea>
          <mat-hint align="end">{{ text.value?.length || 0 }}/{{ MaxCharsForTranslation }}</mat-hint>
          <mat-error>
            <span
              class="info-label"
              *ngIf="formGroupBasic.get('text')?.hasError('maxlength')"
              >Text cannot exced {{ MaxCharsForTranslation }} characters</span
            >
          </mat-error>
        </mat-form-field>
        <h2>Translate To</h2>
        <mat-form-field>
          <mat-label>Language...</mat-label>
          <mat-select formControlName="lang">
            <mat-option
              *ngFor="let language of availableLanguages"
              [value]="language"
              >{{ languageTranslations[language].translation }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="translate-action">
      <button
        type="submit"
        color="primary"
        [disabled]="!formGroupBasic.valid || isSaving"
        mat-flat-button
      >
        <mat-icon>g_translate</mat-icon> translate
      </button>
      <mat-spinner
        *ngIf="isSaving"
        [diameter]="30"
        class="spinner-next-to-button"
      ></mat-spinner>
    </div>
    <div class="translate-items" *ngIf="TranslatedText !== ''">
      <div class="translate-item max-width result-item">
        <h2>Result</h2>
        <div>{{ TranslatedText }}</div>
      </div>
    </div>
  </form>
</div>
